<component name="ArtifactManager">
  <artifact type="jar" name="Server">
    <output-path>$PROJECT_DIR$/out/artifacts/Server</output-path>
    <root id="archive" name="Server.jar">
      <element id="module-output" name="Server" />
      <element id="module-output" name="Hexapod" />
      <element id="extracted-dir" path="$PROJECT_DIR$/Server/libs/rxtx/RXTXcomm.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/Server/libs/processing/gluegen-rt.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/Server/libs/openkinect/freenect.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/Server/libs/processing/jogl-all.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/Server/libs/processing/core.jar" path-in-jar="/" />
    </root>
  </artifact>
</component>